.Header {
  text-align: center;
  margin-bottom: 8px;
  margin-top: -15px;
  font-size: 20px;
}

.HeaderForm {
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 1fr;
  gap: 8px 10px;
  align-items: center;
  margin-bottom: 8px;
  direction: rtl;
}

.HeaderForm :global(.MuiTextField-root) {
  width: 100%;
}

.HeaderForm :global(.MuiInputBase-root) {
  font-size: 13px;
  height: 36px;
}

.HeaderForm :global(.MuiInputLabel-root) {
  font-size: 12px;
}

/* شرح و توضیحات ردیف دوم */
.HeaderForm :global(.MuiTextField-root:nth-child(5)),
.HeaderForm :global(.MuiTextField-root:nth-child(6)) {
  grid-column: span 2;
}

.HeaderForm :global(.MuiInputBase-multiline) {
  height: auto;
  min-height: 55px;
}

.ShrhToz {
  grid-column: span 2;
}
------------------------------------------------------------

.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 10px;

  border: 1px solid #ddd;
  border-radius: 6px;

  background-color: #fafafa;

  font-size: 15px;
  font-weight: 600;
}

.Footer span {
  min-width: 180px;
}

.Balanced {
  color: #2e7d32;
}

.NotBalanced {
  color: #d32f2f;
}

