.VList {
  padding: 10px;
}

.VList h2 {
  color: rgb(60, 0, 116);
  text-align: center;
  margin-top: 1px;
}


.GridHeight {
  height: 650px;
  width: 100%;
}

.Toolbar {
  
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 5px;
}

.Toolbar input {
  width: 200px;
  padding: 8px 12px;
  border-radius: 6px;
  direction: rtl;
  text-align: right;
  font-size: 19px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.Toolbar button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left:auto ;
}

.Total {
  margin-bottom: 7px;
  margin-left: 55px;
  text-align: left;
  padding: 12px; 
}

:global(.even) {
  background-color: #fafafa;
}

:global(.odd) {
  background-color: white;
}
/* :global(.row-error) {
  background-color: #ffe5e5;
} */
